.opcoes li {
    background-color: rgb(45, 45, 197);
    list-style: none;
    border: solid 1px rgb(0, 0, 255);
    color: aliceblue;
    cursor: pointer;
    margin: 5px;
}

.correto {
    border: solid 3px rgb(36, 246, 8);
}

.errado {
    border: solid 3px rgb(248, 20, 20);
}